<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Dashboards</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/dashboards', 1]"
                            routerLinkActive="router-link-active">
                            Dashboard 1
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/dashboards', 2]"
                            routerLinkActive="router-link-active">
                            Dashboard 2
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>
<div id="preloader-overlay" *ngIf="isAppPreloader">
    <span id="preloader" class="spinner-border" role="status" aria-hidden="true"></span>
</div>