:host {
    .main {
        position: relative;
    }

    #sidebarMenu .dashboards-list {
        li {
            font-size: 16px;
            &:not(.create-dahboard-button) {
                .router-link-active {
                    background-color: lightblue;
                }
                &:hover {
                    background-color: lightgrey;
                }
            }
            &.create-dahboard-button {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                button {
                    width: calc(100% - 20px);
                }
            }
        }
    }

    /* App Preloader Overlay*/
    #preloader-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
