<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <form [formGroup]="dashboardForm" *ngIf="!isPreloader; else preloader">
        <div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="d-flex align-items-center">
                <input type="text" class="dashboard-name" formControlName="name" placeholder="Enter Dashboard name" />
                <ng-container *ngIf="!isEdit; else saveBtnRef">
                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="editDashboard()">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger"
                        (click)="deleteDashboard()">Delete</button>
                </ng-container>
                <ng-template #saveBtnRef>
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="discardChanges()">
                        Discard
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-primary" [disabled]="dashboardForm.invalid"
                        (click)="saveChanges()">Save</button>
                </ng-template>
            </div>
            <div class="btn-toolbar d-flex align-items-center mb-2 mb-md-0">
                <app-widget-popup *ngIf="isEdit" (event)="addWidgetToLayout($event)"></app-widget-popup>
                <div class="dashboard-daterange">
                    <input type="text" class="form-control" placeholder="Daterangepicker" bsDaterangepicker
                        formControlName="daterange" (ngModelChange)="onDateChange()" [bsConfig]="bsConfig"
                        [maxDate]="maxReportDate" placement="bottom right" />
                </div>
            </div>
        </div>
        <ktd-grid *ngIf="dashboardLayout.length; else noWidgetsRef" [cols]="16" [rowHeight]="50"
            [layout]="dashboardLayout" (layoutUpdated)="onLayoutUpdated($event)">
            <ktd-grid-item [id]="item.id" [draggable]="isEdit" [resizable]="isEdit"
                *ngFor="let item of dashboardLayout; trackBy:trackById">
                <div class="grid-item-remove-handle" *ngIf="isEdit" (click)="removeItem(item.id)"></div>
                <div class="card grid-item-card">
                    <div class="card-header">{{item.data.title}}</div>
                    <div class="card-body">
                    </div>
                </div>
            </ktd-grid-item>
        </ktd-grid>
    </form>
</main>
<ng-template #noWidgetsRef>
    <div class="no-data-container">
        <h3 class="main-text">Dashboard View</h3>
        <div class="sub-text">Please click on <b>Add Widget</b> button and start build dashboard</div>
    </div>
</ng-template>
<ng-template #preloader>
    <div id="preloader-wrapper">
        <span id="preloader" class="spinner-border" [ngClass]="size"></span>
    </div>
</ng-template>