<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-primary" (click)="addWidgetToLayout()">
                Add Widget
            </button>
            <div class="form-group dashboard-daterange">
                <div class="input-ctrl">
                    <i class="ha-file-pdf calender-icon"></i>
                    <input type="text" class="form-control" placeholder="Daterangepicker" #dtime bsDaterangepicker
                        [(ngModel)]="dashboardDateRange" (bsValueChange)="onDateChange()" [bsConfig]="bsConfig"
                        [maxDate]="maxReportDate" placement="bottom right" />
                </div>
            </div>
        </div>
    </div>
    <ktd-grid [cols]="16" [rowHeight]="50" [layout]="dashboardLayout" [compactType]="dahboardCompactType"
        (layoutUpdated)="onLayoutUpdated($event)">
        <ktd-grid-item [id]="item.id" *ngFor="let item of dashboardLayout; trackBy:trackById">
            <div class="grid-item-remove-handle" stopEventPropagation (click)="removeItem(item.id)"></div>
            <div class="card grid-item-card">
                <div class="card-body">
                    <h5 class="card-title">{{item.id}} Widget</h5>
                </div>
            </div>

            <!-- <div class="ha-card grid-widget-item" *ngIf="item.data.widgetTypeId; else widgetPlaceholder">
                <app-widget-loader [widgetTypeId]="item.data.widgetTypeId" [widgetLoaded]="item.data.widgetLoaded"
                    [widgetId]="item.data.widgetId" [widgetData]="item.data.widgetData"
                    [widgetInfoData]="item.data.widgetInfoData" [widgetNoData]="item.data.widgetNoData"
                    [widgetError]="item.data.widgetError">
                </app-widget-loader>
            </div> -->
        </ktd-grid-item>
    </ktd-grid>
    <!-- <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="2400" height="1012"
        style="display: block; height: 506px; width: 1200px;"></canvas> -->
</main>