:host {
    display: block;
    margin-top: -2px;
    .ha-info {
        color: lightblue;
    }
}

::ng-deep {
    .widget-dialog {
        .modal-content {
            .modal-body {
                padding: 2rem;
                .widgets-list {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 10px;
                    li {
                        cursor: pointer;
                        padding: 6px 16px;
                        border: 1px solid transparent;
                        border-radius: 10px;
                        &:hover {
                            background-color: #ededed;
                        }
                        &.active {
                            border-color: #009eff;
                            background-color: #d8f5ff;
                        }
                        .chart-icon {
                            font-size: 34px;
                        }
                    }
                }
                .mapping-form {
                    padding-top: 20px;
                    border-top: 1px solid lightgray;
                }
            }
        }
    }
}
